services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - ${DOCKER_APPDATA}/adguardhome/conf:/opt/adguardhome/conf
      - ${DOCKER_APPDATA}/adguardhome/work:/opt/adguardhome/work
    networks:
      - homelab
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 8181:80/tcp # Web UI

networks:
  homelab:
    external: true
