services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - ${DOCKER_APPDATA}/adguardhome/conf:/opt/adguardhome/conf
      - ${DOCKER_APPDATA}/adguardhome/work:/opt/adguardhome/work
    networks:
      - homelab
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 8181:80/tcp # Web UI

  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    restart: unless-stopped
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
      - SUBDOMAINS=${DUCKDNS_SUBDOMAINS}
      - TOKEN=${DUCKDNS_TOKEN}
      - UPDATE_IP=ipv4
    volumes:
      - ${DOCKER_APPDATA}/duckdns:/config
    network_mode: host

networks:
  homelab:
    external: true
