services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    restart: unless-stopped
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
      - SETTINGS_ENCRYPTION_KEY=${DUPLICATI_ENCRYPTION_KEY}
    volumes:
      - /mnt/usb:/usb
      - portainer_data:/portainer_data
      - ${DOCKER_APPDATA}:${DOCKER_APPDATA}
      - ${DOCKER_APPDATA}/duplicati:/config
    networks:
      - homelab
    ports:
      - 8200:8200

volumes:
  portainer_data:
    external: true

networks:
  homelab:
    external: true
